.app {
  background: sandybrown;
  height: 100vh;
  padding: 30px;
}

.input {
  color: black;
  font-size: 1.2rem;
  width: 95%;
  height: 50px;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.todo-list {
  
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  

}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 20px;
}


.btn{
  background-color: wheat;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
}

.removebtn{
  margin-left: 10px;
  background-color: wheat;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  
}

.title{
  text-align: center;
  
}