.app {
  background: sandybrown;
  height: 100vh;
  padding: 30px;
}

.input {
  color: black;
  font-size: 1.2rem;
  width: 95%;
  padding: 5px;
  text-align: center;
}

.todo-list {
  background: black;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  margin: 0 auto;

}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px 20px;
}